.{
	padding :0;
	margin : 0;
	width:100px;
	height:100vh;
	box-sizing:border-box;
}
#main{
	width:100%;
	min-height:100vh;
	display: flex;
	flex-wrap: flex;
	background-color:#95afc0;
}
.notes{
	width:300px;
	height:300px;
	background-color:#dfe6e9;
	margin : 15;
}
.tool{
	width:99%;
	background-color:#636e72;
	color:white;
	margin:0;
	padding:0;
    justify-content: center;
    height:7%;	
}
.tool i{
	margin:10px;
	padding:2px;
	cursor:pointer;
	text-align:right;
	
}
.note textarea{
	border:0;
	height:400px;
	width:400px;
	font-size:20px;
	resize:none;
	margin:2px;
}
.note textare:focus{
	border:0;
	margin:5px;
}
.addbtn{
	
	right:20px;
	left:50px;
	top:10px;
	background-color:#636e72;
	color:white;
	border:0;
	padding : 10px;
	outline:0;
	border-radius:5px;
	
}

	
	